<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51337671710-amca9l3hspto6b1l71lu4vb8iqvfm1a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51337671710-amca9l3hspto6b1l71lu4vb8iqvfm1a1</string>
	<key>API_KEY</key>
	<string>AIzaSyCELPDYODbj_aswQORmAjQRBgwLFzgvCVM</string>
	<key>GCM_SENDER_ID</key>
	<string>51337671710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planthouse.plantHouse</string>
	<key>PROJECT_ID</key>
	<string>plant-house-1b291</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-house-1b291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51337671710:ios:8b2847b86d3776306fea0f</string>
</dict>
</plist>